@centerX    : 50vw;
@centerY    : 50vh;
@size       : 60vmin;
@halfSize   : calc(@size / 2);
@quarterSize: calc(@size / 4);
@dotSize    : calc(@halfSize / 6);
@blackDotX  : 50%;
@blackDotY  : calc(@centerY - @quarterSize);
@whiteDotX  : 50%;
@whiteDotY  : calc(@centerY + @quarterSize);
@black      : #191919;
@white      : #e6e6e6;
@foreGround : #81d4fa;
@duration   : 4s;
@angle      : 90deg;

html {
    // background-image:
    //     radial-gradient(circle at @blackDotX @blackDotY, @black @dotSize, @white 0 @quarterSize, transparent 0 100%),
    //     radial-gradient(circle at @whiteDotX @whiteDotY, @white @dotSize, @black 0 @quarterSize, transparent 0 100%), linear-gradient(90deg, transparent 0 @centerX, @black @centerX 100%),
    //     linear-gradient(90deg, @white 0 @centerX, transparent @centerX 100%);
    background-position: 0 0;
    background-repeat  : no-repeat;
}

body {
    height    : 100vh;
    margin    : 0;
    background: radial-gradient(circle, transparent @halfSize, @foreGround @halfSize 100%);
}