html {
  background-position: 0 0;
  background-repeat: no-repeat;
}
body {
  height: 100vh;
  margin: 0;
  background: radial-gradient(circle, transparent calc(60vmin / 2), #81d4fa calc(60vmin / 2) 100%);
}
