html {
  width: 100vw;
  height: 100vh;
}
body {
  background-color: crimson;
  position: relative;
  background-repeat: no-repeat;
  background-origin: content-box;
  background-position: 50% 50%;
  height: 100vmin;
  margin: 0;
  display: flex;
  place-content: center;
}
@media (orientation: landscape) {
  body {
    margin: 0 calc((100vmax - 100vmin) / 2);
  }
}
@media (orientation: portrait) {
  body {
    margin: calc((100vmax - 100vmin) / 2) 0;
  }
}
.angleInput {
  position: absolute;
  bottom: 10px;
  left: 10px;
}
